<div class="container">
  <mat-dialog-content>
    <h1 mat-dialog-title>Game Objectives</h1>
    <ul>
      <li>Memorize and follow the sequence of colors shown by the game.</li>
      <li>Each round, the sequence increases by one color, making it harder to remember.</li>
      <li>Each round, the sequence increases by one color, making it harder to remember.</li>
      <li>
        The game ends if:
        <ul>
          <li>You click the wrong square in the sequence.</li>
          <li>You choose to quit</li>
        </ul>
      </li>
      <li>Your score is the number of rounds you complete accurately, with each correct round adding one point.</li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-fab extended mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>